html, body {height:100%;}

body {background:#ffffff}

a:link, a:visited {color:#c20509;}
a:hover {color:#000000;}

.small-12 .orbit-container {width:93%; margin:0 auto 20px auto}

.slideshow-wrapper .orbit-container li .orbit-caption,
.orbit-container .orbit-slides-container > * .orbit-caption {display:none}
.orbit-container {margin-bottom:10px}

.top-bar, .top-bar .name {height:70px; background-color:transparent}
.top-bar {margin-bottom:0}
.top-bar .name h1 a {background:transparent url(../img/tbus-logo.png) 0 0 no-repeat; width:170px; height:70px;
	font: 0/0 a;
    text-shadow: none;
    color: transparent;
	background-color: transparent;
	border: 0	
	}
	

.top-bar .toggle-topbar.menu-icon a {color:#c20509}
.top-bar .toggle-topbar.menu-icon a span {
    box-shadow: 0 10px 0 1px #666666, 0 16px 0 1px #666666, 0 22px 0 1px #666666;
}
.top-bar.expanded .toggle-topbar.menu-icon a span {
    box-shadow: 0 10px 0 1px #c20509, 0 16px 0 1px #c20509, 0 22px 0 1px #c20509;
}
.top-bar.expanded .title-area {background-color:#ffffff}
.top-bar-section ul li > a:hover {color:#c20509}

.top-bar.expanded .top-bar-section ul li > a {border-bottom:1px solid #ffffff; background-color:#999999}


.column, .columns {float:right}


img.icona {display:block; margin: 0 auto; padding:0}
h6.panel {border:0; background:none; color:#999999; font-size: 0.8em; text-align: center; padding:0}


.button.tbus {background-color:#c20509; border-color:#a60407; color:#ffffff}
.button.tbus:hover {background-color:#db060b; border-color:#db060b;}
.button.tbus.disabled {background-color:#999999; border-color:#999999;}


footer p.note, footer p.note a {color:#999999; /*font-size:0.8em;*/font-size:13px; line-height: 33px; text-align:right}
footer p.note a:link, footer p.note a:visited {color:#c20509; font-weight:bold}
footer p.note a:hover{color:#000000;}

/*Mobile*/

@media only screen and (max-width: 480px) {
footer p.note, footer p.note a {font-size:15px; font-weight:bold}
footer span.acapo {display:block;}
}

/*Da tablet landscape in su!*/

@media only screen and (min-width: 940px) {
body {background:#ffffff url(../img/sfondo-pagina.png) top center no-repeat fixed}

.top-bar {background-color:transparent; height:70px; margin-top:20px; margin-bottom:0}
.top-bar-section ul {background-color:transparent; margin-top:20px;}

.top-bar-section li a:not(.button) {background-color:transparent; line-height:20px; color:#c20509}
.no-js .top-bar-section ul li:hover > a {background-color:transparent; line-height:20px; color:#000000}	
.top-bar-section li.separatore {border-right:1px solid #000000}
}



/*SOLO IE 8 e 7*/

.lt-ie9 li.name h1 a {
	background:transparent url(../img/tbus-logo.png) 0 0 no-repeat; display:block; width:170px; height:70px;
	text-indent: -9999em;
    color: transparent;
	border:0
	}

.lt-ie9 .top-bar-section li {height:20px;}
.lt-ie9 .top-bar-section li a {background-color:transparent; line-height:20px; color:#c20509; padding: 0 10px;}
.lt-ie9 .top-bar-section li a:hover {color:#000000}

.lt-ie9 div.columns {float:right}



/* POP UP MODALI */
#pop-joinus, #pop-credits, #pop-info-watch {
background-color: #f4f4f4;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
}
#pop-joinus h2, #pop-credits h2, #pop-info-watch h2 {color:#c20509; font-size: 1.2em}
#pop-joinus p.lead, #pop-credits p.lead, #pop-info-watch p.lead {font-weight:bold; font-size: 0.9em}
#pop-joinus p, #pop-credits p, #pop-info-watch p {font-size: 0.9em}
#pop-joinus a:link,
#pop-joinus a:visited,
#pop-credits a:link,
#pop-credits a:visited ,
#pop-info-watch a:link,
#pop-info-watch a:visited {color:#c20509; font-weight:bold;}

#pop-joinus a:hover, #pop-credits a:hover, #pop-info-watch a:hover {color:#000000}

div[id^="pop-"] h2 {border-bottom:1px solid #cccccc; margin-bottom:25px}



